@import url('https://fonts.googleapis.com/css?family=Monoton');

:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --green: green;
}

html, body {
  
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.emojis { 
  margin-top: 2px;
  font-size: 1em;
}

.removeEmojis {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-input {
  height: 2rem;
  width: 280px;
  border-radius: 4px;
  margin-bottom: .25em;
}

.output {
  display: none;
}

.link-div {
padding: 2rem;
}

.recipe-img {
  width: 100%;
  max-width: 500px;
  border: solid 2px gold;
  border-radius: 4px;
  margin-top: -.5em;
}

.recipe-title {
  color: antiquewhite;
  font-size: 2em;
}

.show {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.movie-genre{
  color: antiquewhite;
  font-size: 2em;
  margin-top: .5em;
}


.list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 1rem;
  width: 80%;
  height: 10rem;
  list-style: none;
  margin: 1rem;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  font-family: sans-serif;
  margin-top: 13px;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1rem;
  padding: .25em; */
}

.dropdownHidden {
  display: none;
}

.button_search {
  background: black;
  color: gold;
  font-weight: bold;
  border: solid 1px gold;
  /* border-radius: 10px; */
  box-shadow: gold;
}


  .button {
    margin-top: .5em;
    background: black;
    color: gold;
    font-weight: bold;
    border: solid 2px gold;
    /* border-radius: 10px; */
    box-shadow: gold;
}

@media screen and (max-width: 376px) {
  .marquee {
  transform: rotate(5deg);
  font-family: Monoton;
  color: gold;
  border: solid 2px ;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(242,179,19,1);
  -moz-box-shadow: 0px 0px 23px 0px rgba(242,179,19,1);
  box-shadow: 0px 0px 23px 0px rgba(242,179,19,1);
  text-align: center;
  font-size: 2em;
  margin: 1.7em 2em .5em 2em;
  
  box-sizing: content-box;
  }

  body {
    background-image: url('./seats.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    
    background-color: black;
    color: antiquewhite;
    font-family: sans-serif;
    font-size: small;
  }

  .button {
    background: black;
    color: gold;
    font-weight: bold;
    border: solid 1px gold;
    /* border-radius: 10px; */
    box-shadow: gold;
  }

  .button_search {
    display: none; 
  }

  
}

.recipe-link {
  padding: 3rem;
  color: rgb(231, 247, 7);
}

@media screen and (min-width: 377px) {
  .marquee {
    
    font-family: Monoton;
    font-size: 4em;
    color: gold;
    text-align: center;
    border: 2px solid;
    box-sizing: inherit ;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(242,179,19,1);
    -moz-box-shadow: 0px 0px 23px 0px rgba(242,179,19,1);
    box-shadow: 0px 0px 23px 0px rgba(242,179,19,1);
    margin: .25em .25em 0em .25em;
     
  }

 

  body {
    background-image: url('./drapes-background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: black;
    color: antiquewhite;
    font-family: sans-serif;
    font-size: small;
  }

  .dropdown {
    flex-direction: row;
  }

  .recipe-parent {
    padding: 1rem;
  }

}